@use "../../scss//index.scss" as *;
.wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  background-image: url("../../assets/image/star.svg"),
    linear-gradient(to bottom, #05007a, #4d007d);
  background-attachment: fixed;
  overflow: hidden;
}
.background {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -999;
}
.container {
  padding: 20px;
  background-color: rgba($color: #000000, $alpha: 0.7);
  border-radius: 10px;
  width: 50%;
  min-width: 375px;
}
.username,
.password {
  margin: 10px 0;
  input {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    background-color: rgba($color: #000000, $alpha: 0.4);
    border-radius: 5px;
    padding: 10px;
    &::placeholder {
      color: #5e5e5e;
    }
  }
}
.navigate {
  display: flex;
  justify-content: center;
}
.submit {
  margin-top: 10px;
  button {
    cursor: pointer;
    border: none;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 0 #5654c7;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: none;
      transform: translateY(5px);
    }
  }
}
.mars {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 27vmin;
  background: url("../../assets/image/mars.svg") no-repeat bottom center;
  background-size: cover;
}
.astronaut {
  position: absolute;
  top: 2vmin;
  left: 2vmin;
  height: 30vmin;
  animation: floating 3s infinite ease-in-out;
}
.spaceship {
  position: absolute;
  bottom: 15vmin;
  right: 24vmin;
}
@keyframes floating {
  from {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(15px);
  }
  to {
    transform: translateY(-0px);
  }
}
@include breakpoints(mobile) {
  .container {
    width: 90%;
  }
  .astronaut {
    top: 2vmin;
  }
  .spaceship {
    width: 45vmin;
    bottom: 18vmin;
  }
}
