@use "../../../scss/" as *;
.wrapper {
  font-size: 1.6rem;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  z-index: 999999;
  animation: popUp 0.4s ease forwards;
}

@keyframes popUp {
  0% {
    bottom: -100px;
    left: 50%;
    opacity: 0;
  }

  to {
    bottom: 50%;
    left: 50%;
    opacity: 1;
  }
}
.title {
  position: relative;
  h4 {
    text-align: center;
  }
  .close-btn {
    position: absolute;
    top: -10px;
    right: -15px;
    width: 30px;
    height: 30px;
  }
}
//list-member
.list-member-in-room {
  overflow: auto;
  ul {
    .member {
      position: relative;
      display: flex;
      align-items: center;
    }
    .member + .member {
      padding-top: 20px;
    }
  }
  .member img {
    height: 50px;
    width: 50px;
    object-fit: cover;
  }
}
.member > :nth-child(2) {
  margin-left: 5px;
}
.change-input {
  padding: 10px;
  border: 1px solid #ff6c6c;
  border-radius: 10px;
  margin-left: 5px;
  outline: none;
  width: 80%;
}
.set-nickname {
  font-size: 1.2rem;
}
.change-btn {
  margin-left: auto;
}

.wrapper.dark {
  background-color: #353535;
}
.dark .change-input {
  background-color: #353535;
  color: #fff;
}
@include breakpoints(mobile) {
  .wrapper {
    width: 400px;
  }
}
