.message-content {
  position: relative;
  .message-row {
    padding: 10px 5px;
    display: flex;
  }
  .others,
  .self > div {
    max-width: 50%;
    word-break: break-word;
  }
  .user-info {
    position: relative;
  }
  .others {
    justify-content: flex-start;
  }
  .self {
    justify-content: flex-end;
  }
  .showMessageControl {
    display: none;
  }
  :not(.notification).message-row:hover .showMessageControl {
    display: block;
  }
  .notification {
    max-width: 100%;
    padding: 0 0 10px 0;
    font-weight: 300;
    justify-content: center;
    color: #7e7e7e;
    font-size: 1.1rem;
    .user-info > div:first-child > p:first-child {
      text-align: center;
      word-break: break-word;
      max-width: 300px;
    }
  }
}

.message-time {
  margin: 0 auto;
  font-size: 1.1rem;
  color: #b9b9b9;
}

.dark {
  .message-time {
    color: #666666;
  }
}
