@use "../../scss/" as *;
.media-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(56, 56, 56);
  z-index: 9999;
  padding: 0 10px;
}
.close-file {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
}
.file-list-wrapper {
  position: relative;
}
.file-list {
  max-width: 80%;

  margin: 10px auto;
  .file {
    text-align: center;
    // width: 80%;
    height: 400px;
  }
  img,
  video {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: unset;
  }
}
.swiper-control-file {
  margin-top: 80px;
  .file-list-control {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  .file-list-control img,
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}
.isActive {
  border-radius: 10px;
  border: 4px solid #ff4141;
}
@include breakpoints(tablet) {
  .swiper-control-file {
    display: none;
  }
}
@include breakpoints(mobile) {
  .file-list-wrapper {
    height: 100vh;
  }
  .file-list {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swiper-control-file {
    .file-list-control {
      width: 80px;
      height: 80px;
    }
  }
}
